<p/>
<div class="pageHeader">
 <b><%= link_to "Software 33 - Hacker News"  , contributions_path %> | <font color="white">Reply</font></b>   
    <div class="user_session">
        <% if current_user %>
            Signed in as <%= link_to current_user.username, current_user %> |
            <%= link_to 'Logout', "/delete_session" %>  &nbsp;
            <div class=image2><img src= <%= current_user.profile_image %> alt="Profile Image" style="width:20px;height:20px;"></div>
        <% end %>
        <% if !current_user  %>
            <%= link_to "Sign in with Twitter", "/auth/twitter" %>
        <% end %>
    </div>
</div>
<!-- Reply info-->
<ol class=pageBody>
<p>
  <strong>To comment:</strong>
  <% if session[:reply] %>
    <%= Comment.find(session[:comment_id]).body %>
  <% else %>
    <% if params[:test] %>
      <%= Comment.find(params[:test]).body %>
    <% else %>
      <%= Comment.find(session[:comment_id]).body %>
    <% end %>
  <% end %>
</p>

<%= form_for(@reply) do |f| %>
  <% if @reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reply.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @reply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Reply %><br>
    <% if session[:reply] %>
      <%= f.text_area :body, required: true, :value => session[:body] %>
      <% session[:reply] = false %>
    <% else %>
      <%= f.text_area :body, required: true %>
    <% end %>
    <% if params[:test] %>
      <%= f.hidden_field :comment_id, :value => params[:test] %>
    <% else %>
      <%= f.hidden_field :comment_id, :value => session[:comment_id] %>
    <% end %>
    <!-- TODO cambiar por user de sesion cuando tengamos diversos users -->
    <%= f.hidden_field :user_id, :value => session[:user_id] %>
  </div>

  <div class="actions">
    <%= f.submit 'Create Reply'%>
  </div>
<% end %>
</ol>
