<p id="notice"><%= notice %></p>

 <% session[:threads_id] = session[:user_id] %>
<div class="pageHeader">
 <b><%= link_to "Software 33 - Hacker News"  , contributions_path %> </b>   
    <%= link_to 'new', contributions_path %> | 
    <%= link_to 'comments',comments_path , {:style=>'color:white;', :class => "css_class"} %> | 
     <% if current_user %>
        <%= link_to 'threads', "/thread/" + String(current_user.id) %> | 
     <%end%>
    <%= link_to 'ask', "/ask" %> | 
    <%= link_to 'submit', new_contribution_path %> 
    <div class="user_session">
        <% if current_user %>
            Signed in as <%= link_to current_user.username, current_user %> |
            <%= link_to 'Logout', "/delete_session" %>  &nbsp;
            <div class=image2><img src= <%= current_user.profile_image %> alt="Profile Image" style="width:20px;height:20px;"></div>
        <% end %>
        <% if !current_user  %>
            <%= link_to "Sign in with Twitter", "/auth/twitter" %>
        <% end %>
    </div>
</div>

<ol class="pageCommentBody">
  <% @comments.each do |comment| %>
    <li class="list">
      <div class=subtitle>
        
        <td><%= 'Comment by user ' %><%= link_to comment.getUserName , comment.user %> </td> 
        <td><%= distance_of_time_in_words_to_now(comment.created_at) %></td>
        <td><%= ' ago ' %></td>
        <td>| points: <%= comment.get_upvotes.size%>  </td>
        <td>| on: <%= link_to comment.contribution.title, comment.contribution  %></td>
        <% if(current_user && !(current_user.liked? comment)) %>
          <td><b><%=link_to(image_tag('like.png'), {:controller => 'comments', :action => 'upvote', :id => comment.id}, {:method => :put, :remote => true}) %></b></td>
          <% end %> 
        <% if(current_user && (current_user.liked? comment)) %>
            <img src="http://www.clker.com/cliparts/P/S/9/I/l/S/234-ed-s-sd-hi.png" alt="Like Thumb" style="width:16px;height:16px;">
        <% end %>
          <% if(comment.getUserId == session[:user_id]) %>
            <td>| <b><%= link_to 'Destroy', comment, method: :delete %></b></td>
          <% end %>
      </div>
      <div>
        <td><%= comment.body %></td>
      </div>
    </li>
    <br>
  <% end %>
</ol> 
<br>
