<p id="notice"><%= notice %></p>

 <% session[:threads_id] = session[:user_id] %>
<div class="pageHeader">
 <b><%= link_to "Software 33 - Hacker News"  , contributions_path %> </b>   
    <%= link_to 'new', contributions_path %> | 
    <%= link_to 'comments',comments_path %> | 
     <% if current_user %>
        <%= link_to 'threads', "/thread/" + String(current_user.id) %> | 
     <%end%>
    <%= link_to 'ask', "/ask" %> | 
    <%= link_to 'submit', new_contribution_path %> 
    <div class="user_session">
        <% if current_user %>
            Signed in as <%= link_to current_user.username, current_user %> |
            <%= link_to 'Logout', "/delete_session" %>  &nbsp;
            <div class=image2><img src= <%= current_user.profile_image %> alt="Profile Image" style="width:20px;height:20px;"></div>
        <% end %>
        <% if !current_user  %>
            <%= link_to "Sign in with Twitter", "/auth/twitter" %>
        <% end %>
    </div>
</div>
<ol class=pageBody>
        <div class=image>
            <img src= <%= @user.profile_image %> alt="Profile Image" style="width:100px;height:100px;">
        </div>
        <div class=text>
            <br>
            User: <%= @user.username %>  <br><br>
            Created: <%= distance_of_time_in_words_to_now(@user.created_at) %> ago <br>
        </div>
        <div>
            <% current_user && if current_user.id == @user.id %>
                <p>
                    </br>
                <%= form_for(current_user) do |f| %>
                    <label>About:</label>
                    <%= f.text_area :about, :value => current_user.about  %> <br><br>
                    <label>Email:</label>
                    <%= f.email_field :mail, :value => current_user.mail  %> <br><br>
                    <label>API:</label>
                    <%= f.text_area :api_key, :value => current_user.auth_token, disabled: true %> <br>
                    <br> <%= f.submit 'Save' %> </br>
                    <br>Karma: <%= current_user.get_voted_contributions %>
                <% end %>
                </p>
            <% end %>
            
            <% if !current_user || current_user.id != @user.id %>
                <br>
                <br>
                    <td>About: <%= @user.about %></td>  <br>
                    <br>Karma: <%= @user.get_voted_contributions%>
                    <br> <br>
                    <% session[:threads_id] = @user.id %>
                    <%= link_to 'THREADS', "/thread/" + String(@user.id) %>
            <% end %>
        </div>
</br>
</ol> 