<%= form_for(@contribution) do |f| %>
  <% if @contribution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contribution.errors.count, "error") %> prohibited this contribution from being saved:</h2>

      <ul>
      <% @contribution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <% if !(session[:body]) %>
      <%= f.text_field :title %>
    <% end %>
    <% if (session[:body]) %>
      <%= f.text_field :title, :value => session[:body] %>
      <% session.delete(:body) %>
    <% end %>
  </div>
  
  <div class="field">
    <%= f.label :url %><br>
    <% if !(session[:url]) %>
      <%= f.url_field :url %>
    <% end %>
    <% if (session[:url]) %>
     <%= f.text_field :url, :value => session[:url] %>
     <% session.delete(:url) %>
    <% end %>
  </div>
  
  
  
  <div class="field">
    <% if !(session[:url]) %>
      <%= f.label :or %><br><br>
      <%= f.label :text %><br>
      <% if !(session[:text]) %>
        <%= f.text_area :text %>
      <% end %>
      <% if (session[:text]) %>
        <%= f.text_area :text, :value => session[:text] %>
       <% session.delete(:text) %>
      <% end %>
    <% end %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  

<% end %>
