<p/>
<div class="pageHeader">
 <b><%= link_to "Software 33 - Hacker News"  , contributions_path %></b> | 
 <font color="white"> Edit </font> 
    <div class="user_session">
        <% if current_user %>
            Signed in as <%= link_to current_user.username, current_user %> |
            <%= link_to 'Logout', "/delete_session" %>  &nbsp;
            <div class=image2><img src= <%= current_user.profile_image %> alt="Profile Image" style="width:20px;height:20px;"></div>
        <% end %>
        <% if !current_user  %>
            <%= link_to "Sign in with Twitter", "/auth/twitter" %>
        <% end %>
    </div>
</div>
<ol class=pageBody>
    <%= render 'form' %>
    <%= link_to 'Show', @contribution %>
</ol>
