<p id="notice"><%= notice %></p>

 <% session[:threads_id] = session[:user_id] %>
<div class="pageHeader">
    <b><%= link_to "Software 33 - Hacker News"  , contributions_path %> </b>   
    <%= link_to 'new', contributions_path , {:style=>'color:white;', :class => "css_class"} %> | 
    <%= link_to 'comments',comments_path %> | 
    <% if current_user %>
        <%= link_to 'threads', "/thread/" + String(current_user.id) %> | 
    <%end%>
    <%= link_to 'ask', "/ask" %> | 
    <%= link_to 'submit', new_contribution_path %>
    
    <div class="user_session">
        <% if current_user %>
            Signed in as <%= link_to current_user.username, current_user %> |
            <%= link_to 'Logout', "/delete_session" %>  &nbsp;
            <div class=image2><img src= <%= current_user.profile_image %> alt="Profile Image" style="width:20px;height:20px;"></div>
        <% end %>
        <% if !current_user  %>
            <%= link_to "Sign in with Twitter", "/auth/twitter" %>
        <% end %>
    </div>
</div>

<ol class="pageBody">
  <% @contributions.reverse_each do |contribution| %>
    <% if contribution.isURL %>
    <li class="list">
        <div class="ContributionTitle">
        <% if(current_user && !(current_user.liked? contribution)) %>
            <%=link_to(image_tag('like.png'),{:controller => 'contributions', :action => 'upvote', :id => contribution.id},{:method => :put, :remote => true} ) %>
        <% end %> 
        <% if(current_user && (current_user.liked? contribution)) %>
            <img src="http://www.clker.com/cliparts/P/S/9/I/l/S/234-ed-s-sd-hi.png" alt="Like Thumb" style="width:16px;height:16px;">
        <% end %>
        <a href="<%=contribution.url %>"> <%= contribution.title %> </a>
          <%='('%><%=link_to contribution.url, contribution.url%><%=')'%>
        </div>
        <div class="subtitle">
          <td><%= contribution.get_upvotes.size %> <%= ' points, by user ' %></td>
          <td> <%= link_to contribution.getUserName , contribution.user %> </td>
          <td><%= distance_of_time_in_words_to_now(contribution.created_at) %></td>
          <td><%= ' ago ' %></td>
          <td><%= '| ' %><%= link_to contribution.comments.count, contribution %> <%= link_to ' comments',contribution %></td>
          <!--<b><td><%= link_to 'Comments', contribution %></td></b>-->
          <% if(contribution.getUserId == session[:user_id]) %>
              <b><td><%= link_to 'Edit', edit_contribution_path(contribution) %></td></b>
              <b><td><%= link_to 'Destroy', contribution, method: :delete, data: { confirm: 'Are you sure?' } %></td></b>
            <% end %>
        </div>
      </li>
    <% end %>
  <% end %>
</ol> 