<p id="notice"><%= notice %></p>

 <% session[:threads_id] = session[:user_id] %>
<div class="pageHeader">
 <b><%= link_to "Software 33 - Hacker News"  , contributions_path %> </b>   
    <%= link_to 'new', contributions_path %> | 
    <%= link_to 'comments',comments_path %> | 
     <% if current_user %>
        <%= link_to 'threads', "/thread/" + String(current_user.id) %> | 
     <%end%>
    <%= link_to 'ask', "/ask" %> | 
    <%= link_to 'submit', new_contribution_path %> 
    <div class="user_session">
        <% if current_user %>
            Signed in as <%= link_to current_user.username, current_user %> |
            <%= link_to 'Logout', "/delete_session" %>  &nbsp;
            <div class=image2><img src= <%= current_user.profile_image %> alt="Profile Image" style="width:20px;height:20px;"></div>
        <% end %>
        <% if !current_user  %>
            <%= link_to "Sign in with Twitter", "/auth/twitter" %>
        <% end %>
    </div>
</div>

<ol class=pageBody>
<!--Contribution Info -->  
    <div class=titol>
      <%= @contribution.title %>
      <% if(current_user && !(current_user.liked? @contribution)) %>
        <td> | <b><%=link_to(image_tag('like.png'), {:controller => 'contributions', :action => 'upvote', :id => @contribution.id}, {:method => :put, :remote => true}) %></b></td>
         <% end %> 
          <% if(current_user && (current_user.liked? @contribution)) %>
            <img src="http://www.clker.com/cliparts/P/S/9/I/l/S/234-ed-s-sd-hi.png" alt="Like Thumb" style="width:16px;height:16px;">
          <% end %>
      <%= '| ' %> 
      <%= link_to 'Edit', edit_contribution_path(@contribution) %>
      <br>
    </div>
    
    <div class=subtitle>
      <td><%=@contribution.get_upvotes.size%></td>
      <td>points by: <%= link_to @contribution.getUserName , @contribution.user %> </td>
      <td><%= distance_of_time_in_words_to_now(@contribution.created_at) %></td>
      <td><%= ' ago ' %></td>
      <td><%= @contribution.comments.count %> comments</td>
      
    </div>
    
    <div class=textPreguntaOUrl>

      <% if @contribution.isAsk %>
        <%= @contribution.text %>
      <% end %>
      <% if @contribution.isURL %>
        <%= @contribution.url %>
      <% end %>
      <% if !@contribution.isURL && !@contribution.isAsk  %>
      <td>No es ni url ni pregunta </td>
      <% end %>
    </div>

<!--Add Comment -->  
    <p>
    <%= form_for(Comment.new) do |f| %>
        <% if session[:comment] %>
          <%= f.text_area :body, required: true, :value => session[:body] %>
          <% session[:comment] = false %>
        <% else %>
          <%= f.text_area :body, required: true %>
        <% end %>
        <%= f.hidden_field :contribution_id, :value => @contribution.id %>
        <%= f.hidden_field :user_id, :value => session[:user_id] %>
        <br> <%= f.submit 'Add comment' %> </br>
    <% end %>
    </p>

<!--Comments & Replies -->    
    <% if @contribution.comments != nil %>
          <!-- For each Comment  --> 
    <%    @contribution.comments.each do |comment| %>
      <li>
        <div class="subtitle">
          <td><%= distance_of_time_in_words_to_now(comment.created_at) %></td>
          <td><%= ' ago ' %></td>
          <td><%= ' by user ' %> <%= link_to comment.getUserName , comment.getUserName %> </td>
          <td> points: <%= comment.get_upvotes.size%>  </td>
          <td><%= '| ' %><%= comment.replies.count %> replies | </td>
          
          <% if(current_user && !(current_user.liked? comment)) %>
            <td> <b><%=link_to(image_tag('like.png'), {:controller => 'comments', :action => 'upvote', :id => comment.id}, {:method => :put, :remote => true}) %></b></td>
            <% end %> 
          <% if(current_user && (current_user.liked? comment)) %>
            <img src="http://www.clker.com/cliparts/P/S/9/I/l/S/234-ed-s-sd-hi.png" alt="Like Thumb" style="width:16px;height:16px;">
          <% end %>
          
        <% if(comment.getUserId == session[:user_id]) %>
          <b><td> | <%= link_to 'Destroy', comment, method: :delete %></td></b>
        <% end %>
        </div>
        <div class="CommentBody">
          <%= comment.body %>
        </div>
        </div class="CommentInfo">
          <b><td><%= link_to 'Reply', new_reply_path(:test => comment) %></td></b>
        </div>
        <!--Comment Replies --> 
        <ol class="repliesList">
          <% if comment.replies != nil %>
          <%    comment.replies.each do |reply| %>
          <li>
            <div class="subtitle">
              <td><%= distance_of_time_in_words_to_now(reply.created_at) %></td>
              <td><%= ' ago ' %></td>
              <td><%= 'by user ' %> <%= link_to reply.getUserName , reply.getUserName %> <%= '| ' %></td>
              <td> points: <%= reply.get_upvotes.size%>  </td>
              <% if(current_user && !(current_user.liked? reply)) %>
                <td> | <b><%=link_to(image_tag('like.png'), {:controller => 'replies', :action => 'upvote', :id => reply.id}, {:method => :put, :remote => true}) %></b></td>
                <% end %> 
              <% if(current_user && (current_user.liked? reply)) %>
                <img src="http://www.clker.com/cliparts/P/S/9/I/l/S/234-ed-s-sd-hi.png" alt="Like Thumb" style="width:16px;height:16px;">
              <% end %>
              <% if(reply.user.id == session[:user_id]) %>
              <b><td> | <%= link_to 'Destroy', reply, method: :delete %></td></b>
              <% end %>
            </div>
            <div class="Reply">
            <%= reply.body %>
            </div>
          </li>
          <%   end %>
          <% end %>
        </ol> 
        <br>
      </li>
    <%   end %>
  <% end %>
