<p id="notice"><%= notice %></p>

<div class="pageHeader">
 <b><%= link_to "Software 33 - Hacker News"  , contributions_path %> </b>   
    <%= link_to 'new', contributions_path %> | 
    <%= link_to 'comments',comments_path %> | 
     <% if current_user %>
        <%= link_to 'threads', "/thread/" + String(current_user.id), {:style=>'color:white;', :class => "css_class"}  %> | 
     <%end%>
    <%= link_to 'ask', "/ask" %> | 
    <%= link_to 'submit', new_contribution_path %> 
    <div class="user_session">
        <% if current_user %>
            Signed in as <%= link_to current_user.username, current_user %> |
            <%= link_to 'Logout', "/delete_session" %>  &nbsp;
            <div class=image2><img src= <%= current_user.profile_image %> alt="Profile Image" style="width:20px;height:20px;"></div>
        <% end %>
        <% if !current_user  %>
            <%= link_to "Sign in with Twitter", "/auth/twitter" %>
        <% end %>
    </div>
</div>

<ol class="pageBody">
  <% params %>
  <% @contributions.reverse_each do |contribution| %>

    <% if contribution.getUserId == session[:threads_id] %>
    <li class="list">
      <% if contribution.isAsk %>
        <div class="ContributionTitle">
          <%= link_to contribution.title, contribution %>
        </div>
      <% end %>  
      <% if contribution.isURL %>
        <div class="ContributionTitle">
          <a href="<%=contribution.url %>"> <%= contribution.title %> </a>
          <%='('%><%=link_to contribution.url, contribution.url%><%=')'%>
        </div>
      <% end %>
      <div class="subtitle">
        <td><%= contribution.puntuacio %> <%= ' points, by user ' %></td>
        <td> <%= link_to contribution.getUserName , contribution.user %></td>
        <td><%= distance_of_time_in_words_to_now(contribution.created_at) %></td>
          <td><%= ' ago ' %></td>
          <td><%= '| ' %><%= link_to contribution.comments.count, contribution %> <%= link_to ' comments',contribution %></td>
        <!--<b><td><%= link_to 'Comments', contribution %></td></b>-->
        <% if(contribution.getUserId == session[:user_id]) %>
          <b><td><%= link_to 'Edit', edit_contribution_path(contribution) %></td></b>
          <b><td><%= link_to 'Destroy', contribution, method: :delete, data: { confirm: 'Are you sure?' } %></td></b>
         <% end %>
      </div>
    </li>
    <% end %>
  <% end %>
</ol> 