/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


a:link, a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    background-color: transparent;
}

.pageHeader{
    overflow: hidden;
    font: 18px arial, sans-serif;
    background: #FF6600;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: auto;
    width: 91.3%;
    padding-left: 1em;
}

.pageBody{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: auto;
    width: 91%;
    background: #F6F6EF;
}

.ContributionBody{
    font: 12px arial, sans-serif;
    margin-left: 0;
    margin-right: 0;
}

ol {
    padding-top:1.1em;
    padding-left: 1.8em; 
}

.subtitle{
    font: 10px arial, sans-serif;
}

.pageCommentBody{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: auto;
    width: 91%;
    background: #F6F6EF;
    list-style-type:none;
} 

.image {
  float:left;
  text-align: center;
  vertical-align:middle;
}

.image2 {
  float:right;
}

.text {
  margin-left: 9em;
}

.user_session{
    float: right;
    padding-right: 1em;
}